<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas-help" aria-labelledby="offcanvas-helpLabel">
    <div class="offcanvas-header">
      <h5 id="offcanvas-helpLabel">О программе</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <h2>Rally Logger Lite <small>v. 1.2.0</small></h2>

      <span>Простая программа валидации заездов любительских ралли рейдов, разработанная romanmatv на добровольных началах во имя любви к ралли</span>
    </div>
</div>
