<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas-race" aria-labelledby="offcanvas-raceLabel">
    <div class="offcanvas-header">
      <h5 id="offcanvas-raceLabel">Заезд</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">

        <div class="container">
            <div class="row">
                <span id="race-loaded-file-text"></span>
            </div>
            <div class="row">
                <button class="btn btn-primary" id="btnLoadRace" data-bs-dismiss="offcanvas">Загрузить заезд</button>
                <input type="file" class="hide" accept=".gpx" id="inputRace">
            </div>
        </div>

    </div>
</div>
