<button type="button" class="btn btn-primary" data-bs-toggle-second="tooltip" data-bs-placement="left" data-bs-title="Трек"
    data-bs-toggle="offcanvas" data-bs-target="#offcanvas-track" aria-controls="offcanvas-track">
    <i class="bi bi-pentagon"></i>
</button>

<button type="button" class="btn btn-primary" data-bs-toggle-second="tooltip" data-bs-placement="left" data-bs-title="Заезд"
    data-bs-toggle="offcanvas" data-bs-target="#offcanvas-race" aria-controls="offcanvas-race">
    <i class="bi bi-car-front-fill"></i>
</button>

<button type="button" class="btn btn-primary" data-bs-toggle-second="tooltip" data-bs-placement="left" data-bs-title="О программе"
    data-bs-toggle="offcanvas" data-bs-target="#offcanvas-help" aria-controls="offcanvas-help">
    <i class="bi bi-info-circle"></i>
</button>